.sendForm {
display: flex;
justify-content:space-between ;
width: 100%;
}

.textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
    outline: none;
    border: none;
background-color: rgb(238, 238, 238);
width: 80%;
padding: 12px;
border-radius: 20px;
}

.button {
color: white;
background-color: blue;
padding: 10px;
border-radius: 20px;
width: 10%;
height: 40px;
}

.button:hover {
background-color: rgb(144, 144, 226);
}
.button:active {
background-color: brown;
}
